.mapContainer {
    width: 550px;
    /* Set the container width to 300px */
    height: 300px;
    /* Set the container height to 300px */
    background-color: #333;
    /* Dark background color */
    position: relative;
}
.eventsMapContainer {
    width: 100%;
    /* Set the container width to 300px */
    height: 700px;
    /* Set the container height to 300px */
    background-color: #333;
    /* Dark background color */
    position: relative;
}

.map {
    width: 100%;
    /* Make the map fill the entire width of the container */
    height: 100%;
    /* Make the map fill the entire height of the container */
}

/* Styling for leaflet popup */
.mapContainer :global(.leaflet-popup .leaflet-popup-content-wrapper) {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
  }
  
  .mapContainer :global(.leaflet-popup .leaflet-popup-content) {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .mapContainer :global(.leaflet-popup .leaflet-popup-content span:first-child) {
    font-size: 2.5rem;
    line-height: 1;
  }
  
  .mapContainer :global(.leaflet-popup .leaflet-popup-tip) {
    background-color: var(--color-dark--1);
  }
  
  .mapContainer :global(.leaflet-popup-content-wrapper) {
    border-left: 5px solid var(--color-brand--2);
  }
  
